<!-- Bouton de retour tailwind -->
<button routerLink="/home" class="ml-6 mt-6 bg-amber-700 hover:bg-amber-800 text-white font-bold py-2 px-4 rounded">
    <i class="fa-solid fa-left-long"></i>
</button>

<div class="flex lg:flex-row flex-col justify-center items-center gap-16 text-5xl text-slate-200 font-black mt-56">
    <div class="flex flex-col justify-center items-center  cursor-pointer hover:text-amber-700">Je suis un pélerin
    <span class="text-xs">{{litsdisposdortoirs}} lits disponibles</span>
    
</div>
    <div class="flex flex-col justify-center items-center  cursor-pointer hover:text-amber-700">Je suis un voyageur
        
    <span class="text-xs">{{litsdisposchambres}} lits disponibles</span>
   
 </div>
</div>
