<button routerLink="/home" class="ml-6 mt-6 bg-amber-700 hover:bg-amber-800 text-white font-bold py-2 px-4 rounded">
    <i class="fa-solid fa-left-long"></i>
</button>


    

<div *ngFor="let chambre of chambreinfos">


    <div class="text-center mt-16 text-6xl text-slate-300 font-black">"{{chambre.nom}}"</div>
    <br>
    <div class="text-base text-center text-slate-50">Cette chambre est <span class="text-green-500 font-black">Disponible</span> pour ce soir</div>
    <div class="flex justify-center">
        <button class="mt-6 bg-green-700 hover:bg-green-800 text-white text-xl font-bold py-4 px-8 rounded">
            <i class="fa-solid fa-calendar-check"></i>
            <span class="ml-2">Réserver</span>
        </button>
    </div>

    <div class="text-slate-100 lg:w-1/2 md:w-2/3 font-extrabold text-center m-auto lg:my-6 md:my-l my-2" >"{{chambre.description}}"</div>
    


    <hr class="w-1/2 flex m-auto">
    <div class="text-center text-5xl text-slate-100 font-black mt-6">Galerie</div>
    <div  class="grid md:grid-cols-2 sm:grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 gap-2 my-6 lg:mx-28" >
<div *ngFor="let photos of chambre.photos">
    <img src="{{photos}}" class="rounded-3xl">
</div></div>

<div  *ngFor="let equipement of chambre.equipements" class="my-16">
    <div class="text-center text-base text-slate-100 font-black mt-6">-{{equipement}}</div>
    
</div>
</div>
